{{ define "main" }}
<div id="app" class="flex flex-col md:flex md:flex-row h-full">
    {{ partial "sidenav" . }}
    <main
      class="flex-grow p-8 md:p-16 overflow-auto"
      style="background-color: #fff; color: #0a0e14;"
    >
      <div class="content flex flex-col md:flex-row"> 
        <div class="posts flex-1 px-6 mb-16 justify-self-center sm:px-4 md:px-0 lg:prose-lg" style="max-width: 65ch;">
          <div class="mb-4">
            <div class="text-3xl">Posts</div>
            <div>           
                {{ range (.Site.RegularPages.GroupByDate "2006") }}

                  {{ $posts:= (where .Pages "Type" "posts")}}

                  {{ if $posts }}                
                  <h3>{{ .Key }}</h3>    
                  <ul class="archive-list mb-4">
                      {{ range (where .Pages "Type" "posts") }}
                          <li>
                              <span style="color: #bbb; width: 2em; display: inline-block;">{{ .PublishDate.Format "1/2" }}</span>
                              <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                          </li>
                      {{- end -}}
                  </ul>
                  {{ end }}
                {{- end -}}
            </div>
          </div>
        </div> 
        <div class="tax">
          <div class="mb-8">
            <div class="text-3xl">Tags</div>
            <div class="flex space-x-2">              
              {{ if not .Site.Taxonomies.tags}}
              No tags
              {{- end -}}
              {{ range .Site.Taxonomies.tags.ByCount }}
                  <a href="{{ .Page.RelPermalink }}" class="bg-gray-200 px-2 py-1 rounded-md min-w-16 text-center font_size_{{ .Count }}">
                      {{ .Page.Title }} <small>({{ .Count }})</small>
                  </a>
              {{- end -}} 
            </div>
          </div>
          
          <div class="mb-8">
            <div class="text-3xl">Categories</div>
            <div class="flex space-x-2">              
              {{ if not .Site.Taxonomies.categories}}
              No categories
              {{- end -}}
              {{ range .Site.Taxonomies.categories.ByCount }}                  
                  <a href="{{ .Page.RelPermalink }}" class="flex items-center hover:shadow px-2 rounded-md min-w-16 text-center font_size_{{ .Count }}">
                    <i class='bx bxs-folder-open' style='color:#ffca00' ></i>
                    
                    <ul id="categories"  class="inline-flex pt-1">{{ .Page.Title }}</ul><small>({{ .Count }})</small>
                  </a>
              {{- end -}} 
            </div>
          </div>     
          
          <div class="mb-4">
            <div class="text-3xl">Series</div>
            <div>
              <ul class="archive-list">
                {{ if not (where .Pages "Type" "series") }}
                  No series
                {{- end -}}
                  
                {{ range .Site.Sections }}

                  {{ range (where .Pages "Type" "series") }}
                      <li>                        
                          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                      </li>
                  {{- end -}}
                {{ end }}                
              </ul>              
            </div>
          </div>

        </div>    
      </div>      
      {{ partial "copyright" .}}
    </main>
  </div>
{{end}}