<div class="flex justify-between items-center">                    
    <div class="tags-container flex items-center">
        {{ with .Params.tags }}     
        <i class='bx bxs-purchase-tag'></i>
        <ul  style="all:unset" id="tags" class="inline-flex">
            {{- range $index, $value := . -}}
            <li style="all:unset" >
                {{- if gt $index 0 }},&nbsp;{{ end -}}
                {{- $tag := $value | printf "/tags/%v" | $.Site.GetPage -}}
                <a class="ml-1" style="all:unset;    font-size: smaller;"  href="{{ $tag.RelPermalink }}">{{ $tag.Title }}</a>                        
            </li>
            {{- end -}}
        </ul>
           
    {{- end -}}
    </div>             
    
    {{- if ne .Lastmod .Date -}}
    <section class="article-lastmod text-sm">
        <span class="text-gray-400">
            更新于 {{ T "article.lastUpdatedOn" }} {{ .Lastmod.Format ( or .Site.Params.dateFormat.lastUpdated "Jan 02, 2006 15:04 MST" ) }}
        </span>
    </section>
    {{- end -}}                    
</div>