<div class="meta flex flex-wrap items-center text-sm">
    {{ with .Params.authors }}
        <i class='bx bxs-user-circle' style='color:#3ad6a5;font-size: 20px' ></i>
        <ul id="authors" class="inline-flex  pt-1 mr-2">
        {{ range . }}
            <li><a class="px-1" href="{{ "authors" | absURL}}/{{ . | urlize }}">{{ . }}</a> </li>
        {{- end -}}                    
        </ul>              
    {{- end -}}
    
    {{ if not .Date.IsZero }}
    <i class='bx bxs-time-five' style='color:#3a8cd6;font-size: 20px' ></i>
    <div class="px-1 pt-1 text-gray-500 mr-2" style="font-size: small;">    
            <time class="article-time--published">
                {{- .Date.Format (or .Site.Params.dateFormat.published "Jan 02, 2006") -}}
            </time>    
    发布
    </div>
    {{- end}}            
    
    {{ with .Params.categories }}
        <i class='bx bxs-folder-open' style='color:#ffca00;font-size: 20px' ></i>
        <ul id="categories" class="text-gray-500 inline-flex  pt-1">
        {{ range . }}
            <li><a class="px-1 text-sm" href="{{ "categories" | absURL}}/{{ . | urlize }}">{{ . }}</a> </li>
        {{- end -}}
        </ul>
    {{- end -}}
    
    <span class="flex">
        {{- if .Site.Params.busuanzi.enable -}}
            <i class='bx bxs-chart' style='color:#ef7070;font-size: 20px' ></i>

            <div class="px-1 pt-1 text-gray-500 mr-2" style="font-size: small;">
                <span id="busuanzi_value_site_uv">?</span> 次浏览
            </div>     
        {{end}}
    </span>
</div>
