{{ define "main" }}

<div id="app" class="flex flex-col h-full">
    <header class="flex flex-col p-32">
    <div class="text-2xl">
        Less
        <span class="text-rose-600" style="color:#dd3735">Bug</span>
    </div>
    <ul class="flex font-light" style="color: #b3b1ad;">
        <li style="color: #eee;">Home</li>
        <li class="mx-2">/</li>
        <li>Archives</li>
        <li class="mx-2">/</li>
        <li>About</li>
    </ul>
    </header>
    <main class="flex-grow p-32">
    <canvas id="myCanvas"></canvas>
    <script src="http://paperjs.org/assets/js/paper.js"></script>
    {{ $js := resources.Get "js/ani.js" }}

    <script
        type="text/javascript"
        src="{{ $js.RelPermalink }}"
    ></script>
    </main>
    <footer class="p-32 font-light" style="color: #717271;">
    pluvet@foxmail.com
    </footer>

    <style>
        body{
            background-color: #00010a; color: #eee;
        }
    </style>
</div>
{{ end }}