{{ define "main" }}

<div id="app" class="flex flex-col h-full  select-none">
    <header class="flex flex-col p-16 md:p-32">
    <div class="text-2xl">
        <a href="{{ .Site.BaseURL }}">Less <span class="" style="color:#dd3735">Bug</span></a>    
    </div>
    <ul class="flex font-light" style="color: #b3b1ad;">
        <li style="color: #eee;"><a href="{{ .Site.BaseURL }}">Home</a></li>
        {{ range .Site.Menus.main }}
        <li class="mx-2">/</li>
        <li><a href="{{ .URL | absLangURL | safeURL }}">{{ .Name }}</a></li>
        {{- end -}}
    </ul>
    </header>
    <main class="flex-grow p-16 md:p-32">
    <canvas id="myCanvas"></canvas>
    <script src="http://paperjs.org/assets/js/paper.js"></script>
    {{ $js := resources.Get "js/ani.js" }}

    <script
        type="text/javascript"
        src="{{ $js.RelPermalink }}"
    ></script>
    </main>
    <footer class="p-16 md:p-32 font-light" style="color: #717271;">
    pluvet@foxmail.com
    </footer>

    <style>
        body{
            background-color: #00010a; color: #eee;
        }
    </style>
</div>
{{- end -}}